{% extends 'index.html' %}
{% block title %} login page {% endblock %}

{% block content %}

<div class="row mb-2">
    <h2 class="pb-2 border-bottom m-5">Results --> {{search}}</h2>
      {% for number in len_number %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
          <h3 class="mb-0">
            {{data["items"][number]["volumeInfo"]["title"]}}
          </h3>
          <div class="mb-1 text-body-secondary">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>

        </div>
        <div class="col-auto">
          <img src='{{data["items"][number]["volumeInfo"]["imageLinks"]["thumbnail"]}}' width="200" height="250">
        </div>

        <div class="container m-2 ml-5">
          <a href='{{data["items"][number]["volumeInfo"]["previewLink"]}}'
             class="btn btn-outline-{{color_boot_1}}" methods="post">Read</a>

          <a class="btn btn-outline-{{color_boot_2}}" methods="post"
             href='{{data["items"][number]["accessInfo"]["epub"]["downloadLink"]}}'>Download</a>

        </div>
      </div>
    </div>
    {% endfor %}

</div>

  <div class="row mb-2">

  </div>


{% endblock %}